.container.main {
  min-height: calc(90vh - 100px - 1px);
}

.home-header {
  position: relative;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: auto;
}

.scroll-down, .scroll-down:hover, .scroll-down:active, .scroll-down:visited {
  display: block;
  position: absolute;
  bottom: -35px;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  border: 1px solid #dfdfdf;
  background: #fff;
  left: 50%;
  margin-left: -35px;
  line-height: 65px;
  color: #6b2875;
  text-align: center;
  font-size: 60px;
  box-shadow: 0px 2px 4px #6e6e70;
  transition: line-height 180ms ease;
}
.scroll-down:hover, .scroll-down:hover:hover, .scroll-down:active:hover, .scroll-down:visited:hover {
  line-height: 70px;
}

.carousel-indicators {
  width: 100%;
  left: 50%;
  right: auto;
  margin: 0;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 10px 15px;
  text-align: left;
  bottom: 0;
}
@media (min-width: 768px) {
  .carousel-indicators {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .carousel-indicators {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .carousel-indicators {
    width: 1170px;
  }
}

.carousel-caption {
  width: 100%;
  left: 50%;
  right: auto;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0 15px;
  text-align: left;
  color: #fff;
}
@media (min-width: 768px) {
  .carousel-caption {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .carousel-caption {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .carousel-caption {
    width: 1170px;
  }
}
.carousel-caption h3 {
  color: #fff;
  font-size: 3em;
}
@media (max-width: 768px) {
  .carousel-caption h3 {
    font-size: 1em;
    font-size: 5vw;
  }
}
.carousel-caption p {
  margin-top: 0.3em;
  font-size: 1.5em;
}
@media (max-width: 768px) {
  .carousel-caption p {
    font-size: 0.8em;
    font-size: 3vw;
  }
}

.work {
  padding: 40px 0;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 1200px) {
  .work .work-item {
    background-size: auto 134px;
    background-repeat: no-repeat;
    margin-bottom: 40px;
  }
  .work .work-item:last-child {
    margin-bottom: 0;
  }
  .work .work-item:nth-child(even) {
    text-align: left;
    background-position: center right;
    padding-right: 300px;
  }
  .work .work-item:nth-child(odd) {
    text-align: right;
    background-position: center left;
    padding-left: 300px;
  }
  .work .work-item:nth-child(1) {
    background-image: linear-gradient(90deg, transparent 0, white 300px), url("../images/earth.jpg");
  }
  .work .work-item:nth-child(2) {
    background-image: linear-gradient(-90deg, transparent 0, white 300px), url("../images/keyboard.jpg");
  }
  .work .work-item:nth-child(3) {
    background-image: linear-gradient(90deg, transparent 0, white 300px), url("../images/tablet.jpg");
  }
  .work .work-item:nth-child(4) {
    background-image: linear-gradient(-90deg, transparent 0, white 300px), url("../images/webrobotics.jpg");
  }
  .work .work-item:nth-child(5) {
    background-image: linear-gradient(90deg, transparent 0, white 300px), url("../images/earth.jpg");
  }
  .work .work-item:nth-child(6) {
    background-image: linear-gradient(-90deg, transparent 0, white 300px), url("../images/keyboard.jpg");
  }
}

.clients {
  background: #dfdfdf;
  line-height: 150px;
  text-align: center;
  margin-bottom: -2em;
}
.clients .heading {
  margin: 0;
  line-height: 150px;
}
.clients img {
  max-height: 40px;
  max-width: 80%;
}
